* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }


  .title-gradient{
  /* fallback for old browsers */
  background: #667eea;

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(to right, rgba(102, 126, 234, 1), rgba(118, 75, 162, 1));

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgba(102, 126, 234, 1), rgba(118, 75, 162, 1))  
}


  .search-title {
    font-size: 1.2rem;
  }